<div>
  <a routerLink="/a0-ssr">Auth0</a>
  <a routerLink="/a0-ssr-fixup">Auth0-SSR-Fixup</a>
  <app-login-button *ngIf="!(auth.user$ | async)"></app-login-button>
  <app-logout-button *ngIf="auth.user$ | async"></app-logout-button>
  <span *ngIf="auth.user$ | async as user">{{ user.email }}</span>
</div>

<ul>
<li>Auth0 dashboard won't accept http for the Login URI - it must be https (see "Add SSL" below)</li>
<li>Auth0 dashboard won't accept localhost</li>
</ul>

<h1>Create a new Angular Application with SSR and Auth0</h1>
<ul>
  <li>ng new A0-with-SSR</li>
  <li>ng add @nguniversal/express-engine</li>
  <li>npm run prerender</li>
</ul>



<router-outlet></router-outlet>
