<h1>How can Auth0 be configured to work with Angular Universal SSR?</h1>

<div>
  <button routerLink="/a0-ssr">Auth0</button>
  <button routerLink="/a0-ssr-fixup">Auth0 SSR Fixup</button>
  <app-login-button *ngIf="!(auth.user$ | async)"></app-login-button>
  <app-logout-button *ngIf="auth.user$ | async"></app-logout-button>
  <span *ngIf="auth.user$ | async as user">{{ user.email }}</span>
</div>

<hr>

<router-outlet></router-outlet>

<hr>

<div>
  <button routerLink="/a0-ssr">Auth0</button>
  <button routerLink="/a0-ssr-fixup">Auth0 SSR Fixup</button>
  <app-login-button *ngIf="!(auth.user$ | async)"></app-login-button>
  <app-logout-button *ngIf="auth.user$ | async"></app-logout-button>
  <span *ngIf="auth.user$ | async as user">{{ user.email }}</span>
</div>


